# Тестовое задание соискателя
### на вакансию "Исследователь научного центра"

Этот ноутбук описывает процесс создания таблицы из данных сайта elibrary.ru, находящихся в открытом доступе.

In [80]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

Я скачал страницу https://www.elibrary.ru/titles.asp и сохранил в отдельный файл, чтобы легче было считать страницу по отдельным строкам, так как с учетом архитектуры этого конкретного сайта - это было проще, чем парсить тэги.

In [81]:
data = open("/Users/elias/Documents/EU/elibrary1.html").readlines()
data_new=pd.DataFrame()
data_new['id'] = []
data_new['name'] = []
data_new['contents'] = []

for i in range(len(data)):
    match = re.search('<tr valign=top id=\"a', data[i])
    if match:
        data_new.loc[i, 'id'] = data[i][match.end():-3]
        m = re.search('<font color=\'#F26C4F\'></font>(.+?)</b></a>', data[i+3])
        if m:
            data_new['name'][i] = m.group(1)

data_new = data_new.reset_index(drop=True)

/var/folders/pd/g4ly251x1r180lksjl3v9tbc0000gn/T/ipykernel_39630/3366844567.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['name'][i] = m.group(1)
/Users/elias/.conda/envs/workspace/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [82]:
display(data_new)

        id                                               name  contents
0    75402                      Advanced Engineering Research       NaN
1    38061                                          ArcReview       NaN
2    51022                                   Cloud of Science       NaN
3    73724             Connect. Мир информационных технологий       NaN
4    58830    Continuum. Математика. Информатика. Образование       NaN
..     ...                                                ...       ...
162  28212   Экономика, статистика и информатика. Вестник УМО       NaN
163  74841                             Экономика. Информатика       NaN
164   9991  Экспресс-информация. Картография и географичес...       NaN
165   1829                             Электронные библиотеки       NaN
166   9666                  Электронные ресурсы в библиотеках       NaN

[167 rows x 3 columns]

С этой страницы я извлек информацию об идентификаторе журнала и его названии, а также предусмотрел столбец под содержание страницы с детальным описанием и статистикой журнала.
В дальнейшем я буду формировать запросы к каждой из этих страниц детализации, используя id для формирования корректной ссылки.

In [83]:
## прокси можно не использовать, но я включил для перестраховки во время отладки кода
proxy = {
    "http": "http://XL1qy2fAf5hSV3RV:wifi;;;;@proxy.soax.com:9000",
    "https": "http://XL1qy2fAf5hSV3RV:wifi;;;;@proxy.soax.com:9000"
}

#resp = req.get("http://checker.soax.com/api/ipinfo",)

for i in range(len(data_new)):
    url = 'https://elibrary.ru/title_profile.asp?id='+data_new.loc[i, 'id']
    response = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'}, proxies=proxy)
    soup = BeautifulSoup(response.text, 'html.parser')
    print(i,'/', len(data_new))
    data_new['contents'][i] = soup

0 / 167

/var/folders/pd/g4ly251x1r180lksjl3v9tbc0000gn/T/ipykernel_39630/2416081236.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['contents'][i] = soup
/Users/elias/.conda/envs/workspace/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/elias/.conda/envs/workspace/lib/python3.9/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

1 / 167
2 / 167
3 / 167
4 / 167
5 / 167
6 / 167
7 / 167
8 / 167
9 / 167
10 / 167
11 / 167
12 / 167
13 / 167
14 / 167
15 / 167
16 / 167
17 / 167
18 / 167
19 / 167
20 / 167
21 / 167
22 / 167
23 / 167
24 / 167
25 / 167
26 / 167
27 / 167
28 / 167
29 / 167
30 / 167
31 / 167
32 / 167
33 / 167
34 / 167
35 / 167
36 / 167
37 / 167
38 / 167
39 / 167
40 / 167
41 / 167
42 / 167
43 / 167
44 / 167
45 / 167
46 / 167
47 / 167
48 / 167
49 / 167
50 / 167
51 / 167
52 / 167
53 / 167
54 / 167
55 / 167
56 / 167
57 / 167
58 / 167
59 / 167
60 / 167
61 / 167
62 / 167
63 / 167
64 / 167
65 / 167
66 / 167
67 / 167
68 / 167
69 / 167
70 / 167
71 / 167
72 / 167
73 / 167
74 / 167
75 / 167
76 / 167
77 / 167
78 / 167
79 / 167
80 / 167
81 / 167
82 / 167
83 / 167
84 / 167
85 / 167
86 / 167
87 / 167
88 / 167
89 / 167
90 / 167
91 / 167
92 / 167
93 / 167
94 / 167
95 / 167
96 / 167
97 / 167
98 / 167
99 / 167
100 / 167
101 / 167
102 / 167
103 / 167
104 / 167
105 / 167
106 / 167
107 / 167
108 / 167
109 / 167
110 / 167
111 / 167
112 / 167
113 / 167
114 / 167
115 / 167
116 / 167
117 / 167
118 / 167
119 / 167
120 / 167
121 / 167
122 / 167
123 / 167
124 / 167
125 / 167
126 / 167
127 / 167
128 / 167
129 / 167
130 / 167
131 / 167
132 / 167
133 / 167
134 / 167
135 / 167
136 / 167
137 / 167
138 / 167
139 / 167
140 / 167
141 / 167
142 / 167
143 / 167
144 / 167
145 / 167
146 / 167
147 / 167
148 / 167
149 / 167
150 / 167
151 / 167
152 / 167
153 / 167
154 / 167
155 / 167
156 / 167
157 / 167
158 / 167
159 / 167
160 / 167
161 / 167
162 / 167
163 / 167
164 / 167
165 / 167
166 / 167

Здесь я реализовал цикл, который проходит по датасету и возвращает весь html-текст страницы, посвященной каждому из журналов.
Можно было, конечно, создать отдельную функцию и использовать apply, но поскольку мне нужен этот цикл только единожды, проще было сделать так.

In [84]:
display(data_new)

,id,name,contents
0,75402,Advanced Engineering Research,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
1,38061,ArcReview,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
2,51022,Cloud of Science,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
3,73724,Connect. Мир информационных технологий,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
4,58830,Continuum. Математика. Информатика. Образование,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
...,...,...,...
162,28212,"Экономика, статистика и информатика. Вестник УМО","[\n, html, \n, [\n, [\n, <meta content=""noinde..."
163,74841,Экономика. Информатика,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
164,9991,Экспресс-информация. Картография и географичес...,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
165,1829,Электронные библиотеки,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."
166,9666,Электронные ресурсы в библиотеках,"[\n, html, \n, [\n, [\n, <meta content=""noinde..."

Теперь в данных есть Id, название журнала и вся разметка страницы о журнале. Теперь будем очищать эти тексты и извлекать из них информацию о публикациях в РИНЦ с 2011 года.

In [85]:
for year in range(11,21):
    column_name = 'n_papers_risc_20'+str(year)
    data_new[column_name] = ''

for i in range(len(data_new)):
    html_body = str(data_new.loc[i, 'contents'])
    for year in range(11,21):
        column_name = 'n_papers_risc_20'+str(year)
        year_specific_string = 'Список статей, опубликованных в журнале в 20' + str(year)+ ' году\">'
        match = re.search(year_specific_string, html_body)
        if match:
            data_new.loc[i, column_name] = re.sub("[^0-9]", "", html_body[match.end():match.end()+5])

In [86]:
display(data_new)

,id,name,contents,n_papers_risc_2011,n_papers_risc_2012,n_papers_risc_2013,n_papers_risc_2014,n_papers_risc_2015,n_papers_risc_2016,n_papers_risc_2017,n_papers_risc_2018,n_papers_risc_2019,n_papers_risc_2020
0,75402,Advanced Engineering Research,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",247,215,85,86,59,79,68,52,49,51
1,38061,ArcReview,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,1,2,,,,,,,
2,51022,Cloud of Science,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,,39,42,39,32,39,43,50,64
3,73724,Connect. Мир информационных технологий,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,2,,,,,,1,,
4,58830,Continuum. Математика. Информатика. Образование,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,,,,,69,52,72,45,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,28212,"Экономика, статистика и информатика. Вестник УМО","[\n, html, \n, [\n, [\n, <meta content=""noinde...",263,304,256,299,240,91,61,50,50,46
163,74841,Экономика. Информатика,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",124,129,121,107,102,95,87,80,76,77
164,9991,Экспресс-информация. Картография и географичес...,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,,,,,,,,,
165,1829,Электронные библиотеки,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",3,1,2,7,22,28,35,34,72,87
166,9666,Электронные ресурсы в библиотеках,"[\n, html, \n, [\n, [\n, <meta content=""noinde...",,,,,,,,,,

Обработка готова. Осталось только удалить лишний столбец.

In [89]:
#data_new = data_new.drop('contents', axis=1)
data_new.to_csv('informatics_journals.csv', sep=';')

In [90]:
display(data_new)

,id,name,n_papers_risc_2011,n_papers_risc_2012,n_papers_risc_2013,n_papers_risc_2014,n_papers_risc_2015,n_papers_risc_2016,n_papers_risc_2017,n_papers_risc_2018,n_papers_risc_2019,n_papers_risc_2020
0,75402,Advanced Engineering Research,247,215,85,86,59,79,68,52,49,51
1,38061,ArcReview,,1,2,,,,,,,
2,51022,Cloud of Science,,,39,42,39,32,39,43,50,64
3,73724,Connect. Мир информационных технологий,,2,,,,,,1,,
4,58830,Continuum. Математика. Информатика. Образование,,,,,,69,52,72,45,56
...,...,...,...,...,...,...,...,...,...,...,...,...
162,28212,"Экономика, статистика и информатика. Вестник УМО",263,304,256,299,240,91,61,50,50,46
163,74841,Экономика. Информатика,124,129,121,107,102,95,87,80,76,77
164,9991,Экспресс-информация. Картография и географичес...,,,,,,,,,,
165,1829,Электронные библиотеки,3,1,2,7,22,28,35,34,72,87
166,9666,Электронные ресурсы в библиотеках,,,,,,,,,,